@charset "utf-8";
#banner3 #imagen3  {
    float: right;
    margin-right: 30px;
    padding-bottom: 90px;
}
#cuerpo #banner3 #texto3 {
    float: left;
    margin-top: 120px;
    margin-left: 100px;
}
#banner3 #texto3 p {
    text-align: center;
}
#banner3 #texto3 #cotizar {
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}
